[submodule ".vim/bundle/jedi"]
	path = .vim/bundle/jedi
	url = git://github.com/davidhalter/jedi.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
